.scroll-container {
    -webkit-overflow-scrolling: touch;
  }

.scroll-container::-webkit-scrollbar {
    width: 0px;
    -webkit-appearance: none;
  }

.scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #0df69e;
    color: #0df69e;
    border-radius: 2px;
    border: transparent;
  }